html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#light form {
  background-color: aqua;
}
#dark form {
  background-color: rgb(225, 228, 42);
}

/* #light .btn {
  background-color: aqua;
  width: 100px;
  height: 100px;
}
#dark .btn {
  background-color: rgb(125, 207, 30);
  width: 100px;
  height: 100px;
} */
